.gral{
     /* background-image: url('../assets/footer.jpg'); */
     height: 700px;
     width: 100%;
     background-repeat: no-repeat; 
     background-size: cover;
     position: relative;
}

.logo_div{
     margin-right: 160px;
     color:  var(--color-footer-text);
     text-align: left;
}

.main{
     display: flex;
     justify-content: center;
     flex-direction: row;
     justify-content: space-around;     
     /* align-items: center; */
     position: absolute;
     top: 305px;
     width: 100%;
     font-family: 'Montserrat';

}

.main h4{
     font-family: 'Montserrat';

}

.rs h4{
     color: var(--color-footer-title);
     text-align: left;
     margin-bottom: 30px;
}

.rs img{
     margin: 0 15px
}

.legales{
     display: flex;
     flex-direction: column;
     text-align: left;
     width: 300;
     font-family: 'Montserrat';
}

.legales h4{
    color: var(--color-footer-title);
}

.legales p{
    color: var(--color-footer-text);
}

.final p{
     position: absolute;
     bottom: 0;
     color: var(--color-footer-text);
     margin-left: 520px;
     font-family: 'Montserrat';
}