.gral{
     background-image: url('../assets/footer.jpg');
     height: 500px;
     width: 100%;
     background-repeat: no-repeat; 
     background-size: cover;
     position: relative;
}

.logo_div{
     margin-right: 160px;
     color: rgb(163, 163, 163);
     text-align: left;
}

.main{
     display: flex;
     justify-content: center;
     flex-direction: row;
     justify-content: space-around;     
     align-items: center;
     position: absolute;
     top: 230px;
     width: 100%;
     font-family: 'Montserrat';

}

.main h4{
     font-family: 'Montserrat';

}

.rs{
     text-align: left;
}

.rs img{
     margin: 0 15px
}

.legales{
     display: flex;
     flex-direction: column;
     text-align: left;
     color: rgb(163, 163, 163);
     width: 300;
     font-family: 'Montserrat';
}

.final p{
     position: absolute;
     bottom: 0;
     color: rgb(163, 163, 163);
     margin-left: 520px;
     font-family: 'Montserrat';
}