.gral{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.gral img{
    margin: auto 0;
    margin-right: 150px;
    margin-left: 50px;
    cursor: pointer;
}

.btn{
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight:500;
    font-family: 'Montserrat';
    text-decoration: none;
    margin: auto 0;
    color: black;
}

.login{
    background-color: rgb(219, 224, 255);
    color: rgb(91, 91, 218);
    font-weight: bold;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 5px;
    margin: auto 15px;
    cursor: pointer;
}