.gral{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.gral img{
    margin: auto 0;
    margin-right: 150px;
    margin-left: 50px;
    cursor: pointer;
}

.btn{
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight:500;
    font-family: 'Montserrat';
    text-decoration: none;
    margin: auto 0;
    color: black;
}

.login{
    background-color:  var(--color-button-second);
    color: #5273F0;
    font-weight: 600;
    font-family: "Montserrat";
    height: 32px;
    width: 127px;
    border: none;
    border-radius: 9.78px;
    margin: auto 15px;
    cursor: pointer;
}

.login:hover{
    background-color: var(--color-button-hover2);
}

.btnlogin{
    margin: auto 0;
}
