.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

.imagenes{
   margin-top: 10px;

}

.texto{
    margin: auto 0px;
    width: 480px;
    text-align: left;
    font-family: 'Montserrat';
}

.texto h1{
    /* width: 400px; */
    font-size: 43px;
    font-weight: 630;
}

.texto h3{
    font-weight: 400;
    /* color: rgb(84, 84, 84); */
    line-height: 30px;

}

.texto button{
    background-color: var(--color-button-principal);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 17px;
    height: 35px;
    width: 193px;
    cursor: pointer;
}

.texto button:hover{
    background-color: var(--color-button-hover);
}

.imagenes button{
    margin:0 auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: var(--color-button-principal);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 17px;
    height: 35px;
    width: 90px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    font-size: 13px;
}

.imagenes button:hover{
    background-color: var(--color-button-hover);
}


.imagenes a{
    text-decoration: none;
}

@media screen and (max-width: 1087px) {
    .contenedor{
        flex-direction: column-reverse;
        /* justify-content: space-around; */
        /* margin-top: 80px; */
    }

    .texto{
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .texto h1,h3{
        /* margin-left: 50px; */
        width: 100%
    }

    .texto button{
        display:block;
        margin: 0 auto;
    }

    .imagenes{
        margin-bottom: 50px;
    }

    .imagenes img{
        height: 300px;
    }

    .imagenes button{
        margin-top: 10px;
        width: 190px;
    }

    .texto h3{
        margin-bottom: 40px;
    }

    .texto h1{
        font-size: 28px;
    }

    .texto h3{
        font-size: 18px;
    }

}
