.gral{
    margin-top: 90px;
}

.div1{
    width: 460px;
    margin: 0 auto;
    font-family: 'Montserrat';
}

.div1 h1{
    font-weight: 630;
    font-size: 38px;
}

.div1 h3{
    font-weight: 400;
    color: var(--color-subtitle);
    line-height: 30px;
}

.buttons_div{
    background-color: rgba(239, 239, 255, 0.719);
    height: 80px;
    width: 490px;
    margin: 50px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons_div button{
    height: 60px;
    width: 230px;
    color: white;
    border: none;
    border-radius: 15px;
    margin: auto 5px;
}

.buttons_div button h5{
    font-size: 17px;
    font-weight: 500;
    width: 60%;
    margin: 0 auto;
    font-family: 'Montserrat';
}

.buttons_div button p{
    font-size: 10px;
    /* margin-top: -15px; */
    font-weight: 400;
    width: 40%;
    margin: 0 auto;
    font-family: 'Montserrat';
}

.btn{
    background-color: #E3E9FF;
    cursor: pointer;
    font-size: 16px;
}
.btn h5{
    color: #8C8C8C;
}

.btn p{
    color: rgb(89, 78, 240);
}

.active{
    background-color: #5273F0;

}

.active h5{
    color: white;

}

.active p{
    color: rgb(224, 224, 224);
}

@media screen and (max-width: 1087px) {
     .div1 h3{
        margin: 0 auto;
     }

     .div1 h1{
        font-size: 28px;
    }
}

@media screen and (max-width: 570px) {
.gral{
    margin: 0 auto;
}

.buttons_div{
    display: none;
}

}