.gral{
    margin-top: 90px;
}

.div1{
    width: 530px;
    margin: 0 auto;
    margin-top: 250px;
    font-family: 'Montserrat';
}

.div1 h1{
    font-weight: 630;
    font-size: 38px;
}

.div1 h3{
    font-weight: 400;
    color: rgb(119, 119, 119);
    line-height: 30px;
}

/* Sección 1 */

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0 auto;
}


.texto{
    margin: auto 0px;
    text-align: left;
    font-family: 'Montserrat';
}

.texto h2{
    font-weight: 640;
    font-size: 28px;
}

.texto h3{
    font-weight: 400;
    width: 400px;
    color: rgb(119, 119, 119);
    line-height: 30px;
}

.imagen{
    width: 440px;
    box-shadow: 0 9px 16px rgba(179, 178, 178, 0.397);
    border-radius: 8px;
}

.text_div{
    display: flex;
    flex-direction: row;
}

.text_div h3{
    color:black;
}

.text_div img{
    margin: auto 0px;
    margin-right: 10px;
}

/* Sección 2 */

.container2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0 auto;
    /* width: 1100px; */
}

/* Sección 3 */

.map{
    margin-right: -140px;
}

.texto3{
    margin: auto 0px;
    text-align: left;
    /* margin-left: -40px;
    margin-right: 40px; */
}

.texto3 h2{
    font-weight: 640;
    font-size: 30px;
}

.texto3 h3{
    font-weight: 400;
    width: 400px;
    color: rgb(119, 119, 119);
}

.text_div h3{
    color:black;
}

@media screen and (max-width: 1087px) {
    .gral{
        margin-top: -70px;
    }

    .div1 h1{
        font-size: 28px;
        margin-top: -150px;
        } 
    
    .div1 h3{
        font-size: 18px;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .container{
        flex-direction: column;
    }

    .container video{
        margin: 0 auto;
    }

    .texto{
        margin: 0 auto;
    }

    .texto h2{
       width: 390px;
       margin: 0 auto;
    }

    .container2{
        flex-direction: column;
    }

    .container2 video{
        margin: 0 auto;
    }

    .texto3{
        margin: 0 auto;
        /* padding-left: 50px; */
        padding-bottom: 50px;
    }

    .maps{
        margin-left: -80px;
        /* margin: 0 auto; */
        /* margin-right: 20px; */
    }
}

@media screen and (max-width: 540px) {
    .orden{
         width: 300px;
    }
}
